form {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #333;
}
form div {
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  font-size: 16px;
  padding: 0 10px;
}

form div div {
  box-sizing: border-box;
  flex-direction: row;
  margin: 10px 0;
  align-items: center;
}
form div div label {
  display: flex;
  margin: 0 20px;
  cursor: pointer;
}
form div div label:nth-last-child(2) {
  accent-color: #fdc68b;
}

form div div label:nth-last-child(1) {
  accent-color: #c892fc;
}

form div div label span {
  display: block;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
  width: 70px;
  height: 35px;
  border-radius: 30px;
  background-color: #fdc68b;
  color: #ff8400;
}
form div div label span:hover {
  background-color: #ffb96f;
}
form div div label:nth-last-child(1) span {
  background-color: #c892fc;
  color: #8200fb;
}
form div div label:nth-last-child(1) span:hover {
  background-color: #bf7cfd;
}
form div .titleWrap,
form div .contentWrap {
  box-shadow: 0 0.4rem 1.5rem -0.4rem rgba(10, 10, 20, 0.2);
}
form div .titleWrap {
  height: 100px;
}
form div .titleWrap input,
form div .contentWrap textarea {
  width: 300px;
  border: none;
  outline: none;
  margin: 0 10px;
  font-size: 16px;
}
form div .contentWrap textarea {
  box-sizing: border-box;
  padding: 20px 0;
  height: 150px;
  resize: none;
}
form div div button {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  color: #fff;
  background: rgb(0, 190, 248);
  margin: 0 20px;
}
form div div button:nth-last-child(1) {
  background: #c9c9c9;
}
